@import './reset.scss';
@import './variables/globals.scss';
@import './themes/dark.scss';
@import './themes/normal.scss';

body{
    font: var(--font-m);
    color: var(--primary-color);
}

.app,
.app_modal{
    font: var(--font-m);
    color: var(--primary-color);
}

.app{
    background: var(--bg-color);
    min-height: 100vh; //на всю высоту браузера
}

.content-page {
    display: flex;
}

.page-wrapper{
    flex-grow: 1;
    padding: 20px;
}


//это корневой файл со стилями
