.ArticleList {
}


.BIG {

    .card {
        margin: 30px 30px 0px;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .card {
        margin: 30px;
    }

    // .card {
    //     display: inline-flex;
    //     height: 300px;
    // }

    // .card {
    //     margin: 30px;
    // }

    // .row {
    //     display: flex;
    //     gap: 30px;
    // }
}


.itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin: 0 30px;
}

.skeleton {
    padding-bottom: 30px;
}

.ItemContainer {
    display: flex;
    width: 230px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin-right: 30px;

    @media (max-width: 1024px) {
        width: 50%;
    }

    @media (max-width: 300px) {
        width: 100%;
    }
}