.InputWrapper{
    display: flex;
}

.input{
    background: transparent;
    border: none;
    outline: none;

    &:focus {
        outline: none;
    }
}

.placeholder{
    margin-right: 5px;
}

.readonly{
    opacity: 0.7;
}