.ListBox{
    position: relative;
}

.trigger{
    background: none;
    border: none;
    outline: none;
    margin-top: 0;
    padding: 0;
}

.options{
    background: var(--listbox-bg);
    position: absolute;
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--listbox-bg);

}

.item{
    padding: 10px 20px;
}

.active {
    background: #766464;
}

.disabled{
    opacity: 0.4;
}

.optionsTop{
    bottom: 100%;
}

.optionsBottomLeft{
    top: 100%;
    right: 0;
}
.optionsBottomRight{
    top: 100%;
    left: 0;
}
.optionsTopRight{
    bottom: 100%;
    left: 0;
}
.optionsTopLeft{
    bottom: 100%;
    right: 0;
}