.app_green_theme{
    --bg-color: #60610A;
    --inverted-bg-color: #3d860d;
    --primary-color: #F7FBF4;
    --secondary-color: #F7FBF4;
    --inverted-primary-color:#F7FBF4;
    --inverted-secondary-color: #F7FBF4;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

     //card
     --card-bg: #7f810f;
}
